* {
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background-color: #8650ee;
}
#landing-page {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.links-block {
	margin-top: 30px;
}
.recent-page {
	padding: 10px;
}
.links-block a {
	text-decoration: none;
	color: white;
	background-color: #efc200;
	border: 2px solid #484848;
	padding: 10px 30px;
}
.links-block a:hover {
	background-color: #8650ee;
}
.calculator-app {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.heading {
	text-align: center;
	color: white;
}
#calculator-body {
	max-width: 500px;
	margin: auto;
	margin-top: 30px;
	padding: 1rem;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	background-color: skyblue;
	border: 5px solid #acbe85;
}
.back-btn {
	width: 50px;
}
.link {
	color: white;
	margin: 10px 0px 0px 20px;
}
.btn {
	text-align: center;
	padding: 1.5rem;
	margin: 0.5rem;
	background-color: #eff0ef;
	color: #484848;
	font-weight: 700;
	font-size: 20px;
	cursor: pointer;
	user-select: none;
}
.btn:hover {
	background-color: teal;
	color: white;
}
#screen {
	grid-column-start: 1;
	grid-column-end: 5;
	text-align: right;
	width: 86%;
	height: 70px;
	justify-self: center;
	background-color: #eff0ef;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 20px;
	border-bottom: 4px solid #8da9bc;
	font-size: 25px;
}
#input-screen {
	text-align: left;
	overflow-x: scroll;
}
::-webkit-scrollbar {
	width: 0px;
}
.operators {
	background-color: khaki;
}
.clear {
	background-color: burlywood;
}
.recent-body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.recent-box {
	width: 350px;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
	box-shadow: 1px 1px 5px;
}

.recent-result {
	font-weight: 900;
	text-align: right;
}
